/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.menu-item {
  width: 250px;
  height: 50px;
  border: 1px solid gray;
  list-style-type: none;
  padding: 5px;
  background: rgb(176 ,196 ,222);
}

.container {
  display: flex;
}

.hover {
  background: lightgray;
}

.selected {
  background: rgb(70 ,130 ,180);
}

.hidden {
  display: none;
}

.tooltip {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 0.75rem;
  position: absolute;
  line-height: 1.5;
  min-width: 10rem;
}

.tooltip-title {
  font-weight: bold;
  border-bottom: 1px solid #333;
  margin-bottom: 0.5rem;
}

.tooltip-body {
  font-size: 0.8rem;
}
